@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  letter-spacing: 3px;
}

